#
#
#     s  j  a  s     .  i  n  p  u  t  r  c
#
#

# cycle through last commands
# file completion when tabbing
# CTRL+R/T
#"": history-search-forward
#"": history-search-backward

# only show dotfiles when i typed a '.'
set match-hidden-files off
# guess what
set completion-ignore-case on
# show '/' or '*' after file names
set visible-stats on
set show-all-if-ambiguous on
#xmodmap ~/.Xmodmaprc
